*.class
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
*.iml
.idea
.gradle
.gradletasknamecache
build/
classes/
/out/
*/out/
*/logs/
.idea_modules/
target/
dump.rdb
gradle/wrapper/
.classpath
.project
.settings
gradlew*
bin/
logs/
*.tgz
.cache-main
.cache-test
.settings/*
whale-components/generated
src/main/java/com/example/*
